server:
  port: 8080
  error:
    include-message: always
  ssl:
    enabled: false
    enabled-protocols: TLSv1.2
  servlet:
    session:
      cookie:
        secure: true
        http-only: true
  tomcat:
    accesslog:
      request-attributes-enabled: true


spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/acm
    username: acmsecy
    password: acmheads
    hikari:
      connectionTimeout: 10000
      maximumPoolSize: 5
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show-sql: true
        use_sql_comments: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

verify:
  base:
    backend: http://localhost:8080/
    frontend: http://localhost:3000/